.DS_Store
.venv/
.venv*/
__pycache__/
*.pyc

# Build artifacts
data/indexes/*
!data/indexes/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/clip_embeddings/*
!data/clip_embeddings/.gitkeep
*.faiss
*.pkl

# Local configuration
.env
.env.*
